* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  font-family: HelveticaNeue-Light, sans-serif;
}
body {
  overflow: hidden;
}
.clearFix {
  *zoom: 1;
}
.clearFix:before,
.clearFix:after {
  display: block;
  clear: both;
  content: "";
  line-height: 0;
}
nav {
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0;
  background-color: #e9e9dd;
  text-align: center;
  z-index: 3;
}
nav div {
  display: inline-block;
  width: 24%;
}
nav div .fa {
  font-size: 250%;
  line-height: 50px;
  color: #273c41;
}
.view {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #e9e9dd;
}
.view:not(:first-child) {
  left: 100%;
}
.view:nth-child(odd) {
  position: absolute;
  width: 100%;
  height: 100%;
}
#firstView #logoBox {
  width: 70px;
  height: 75px;
  margin: 150px auto;
}
#firstView .fa {
  font-size: 500%;
  color: #ede915;
}
#firstView #list ul li {
  background-color: #5e9e75;
  height: 100px;
  list-style-type: none;
  text-decoration: none;
  color: #273c41;
}
#firstView #list ul li .bName {
  position: relative;
  font-size: 2.25em;
  top: 5px;
  left: 10px;
  float: left;
}
#firstView #list ul li .dDate {
  font-size: 1.5em;
  position: relative;
  color: #e9e9dd;
  left: -165px;
  float: left;
  top: 50px;
}
#firstView #list ul li .bAmount {
  position: relative;
  float: right;
  font-size: 2.75em;
  top: 15px;
  right: 10px;
  font-weight: bold;
}
#firstView #list li:nth-child(odd) {
  background-color: #83cd9f;
}
#secondView {
  background-color: #e9e9dd;
}
#secondView #listPaid li {
  background-color: #78bfb6;
  height: 100px;
  text-decoration: none;
  list-style-type: none;
}
#secondView #listPaid li:nth-child(odd) {
  background-color: #48766d;
}
#secondView #buttons {
  width: 80%;
  height: 20%;
  margin: 0 auto;
}
#secondView #buttons button {
  width: 100%;
  height: 20%;
  background-color: #374e0c;
  margin-top: 20px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}
#thirdView #addBill {
  position: relative;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
#thirdView label,
#thirdView input {
  font-size: 1.5em;
  color: #273c41;
}
#thirdView input {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-bottom: 5px;
  max-width: 185px;
}
#thirdView .btn {
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  color: #273c41;
  font-size: 20px;
  background: #83cd9f;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
#thirdView .btn:hover {
  background: #5E9E75;
  text-decoration: none;
  color: #e9e9dd;
}
