.view{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: @bgColor;
}

.view:not(:first-child){
  left: 100%;
}

.view:nth-child(odd){
  position: absolute;
  width: 100%;
  height: 100%;
}

#firstView{

  #logoBox{
    width: 70px;
    height: 75px;
    margin: 150px auto;
  }

  .fa{
    font-size: 500%;
    color: @yellow;
  }

  #list ul li {
    background-color: #5e9e75;
    height: 100px;
    list-style-type: none;
    text-decoration: none;
    color: @navyblue;

    .bName {
      position: relative;
      font-size: 40px;
      top: 5px;
      left: 10px;
      float: left;
    }

    .dDate {
      font-size: 30px;
      position: relative;
      left: -165px;
      float: left;
      top: 50px;
    }

    .bAmount {
      position: relative;
      float: right;
      font-size: 50px;
      top: 15px;
      right: 10px;
    }
  }

  #list li:nth-child(odd){
    background-color: #83cd9f;
  }
}

#secondView{
  background-color: #e9e9dd;


    #listPaid li {
      background-color: @bgColorPaid;
      height: 100px;
      text-decoration: none;
      list-style-type: none;
    }

    #listPaid li:nth-child(odd){
      background-color: #48766d;
    }


  #buttons{
    width: 80%;
    height: 20%;
    margin: 0 auto;

    button{
      width: 100%;
      height: 20%;
      background-color: #374e0c;
      margin-top: 20px;
      color: #ffffff;
      border: none;
      border-radius: 5px;
    }
  }
}
#thirdView{
  #addBill{
    position: relative;
    top: 50%;
    left:50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }
}


